@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
$main_bg_color: #af0e0e;
$highlight: #ea1313 ;


header {
    h1 {
        font-family: 'Indie Flower', cursive;
        font-size: 3em;
    }
}

.w3-button {
     &:hover {
        background-color: $highlight !important;
        color: $main_bg_color !important;
    }
}

button {
    cursor: pointer;
   
}

button > img{
    pointer-events: none;
}


textarea {
    resize:none;
    width: 100%;
    min-height: 7em;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    /*background-color: antiquewhite*/
    border: none;
}

section+button{
    background-color: $main_bg_color !important;
    position:  fixed;
    bottom: 10px;
    right: 10px;
    &:hover {
        background-color: white !important;
        color: $highlight !important;
    }
}